/* MIXIN */

@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);    
}

@mixin button-style {
    opacity: 1;
    background: $gradient;
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);  
}

/* VALEURS */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

/* ALL */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f6f6f6;
}

* a {
    text-decoration: none;
    color: white;
}

/* LOADER */

.container {
    background-color: white;
    width: 100%;
    height: 100%;
    margin: auto;
    position: fixed;
    z-index: 20;
    top: 0; left: 0; right: 0; bottom: 0;
    visibility: hidden;
    animation: containers 2.5s linear;
}

.load {
    background-color: white;
    height: 100%;
    width: 200px;
    visibility: hidden;
    display: flex;
    justify-content: space-around;
    margin: auto;
    &__dot {
        margin: auto;
        background-color: $color-tertiary;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        visibility: hidden;
        animation: dots 1.5s ease-in-out ;
    }
}

/* HEADER */

.header {
    width: 100%;
    background-color: white;
    @include flexbox-center;
    height: 70px;
    position: relative;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
    &__logo {
        width: 180px;
    }
}

/* HERO */

.hero {
    width: 100%;
    @include flexbox-center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 55px;
    &__location {
        width: 100%;
        @include flexbox-center;
        background: #ececec;
        color: #4b4b4b;
        padding: 15px 0;
        &-city {
            font-style: normal;
            margin-left: 15px;
            font-weight: 500;
        }
    }
    &__title {
        margin-top: 35px;
        padding: 0 60px;
        font-size: 25px;
    }
    &__text {
        margin: 0;
        font-weight: 300;
        padding: 0 10px;
    }
    &__button {
        margin-top: 30px;
        @include button-style;
        padding: 15px 20px;
        &:hover {
            @include button-hover;
        }
    }
}

/* CATALOG */

.catalog {
    background-color: white;
    padding: 30px 20px;
    &__lists {
        padding-left: 10px;
        counter-reset: catalog;
        width: 98%;
    }
    &__list {
        position: relative;
        display: flex;
        list-style-type: none;
        counter-increment: catalog;
        background-color: #f6f6f6;
        padding: 20px 0;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
        margin-bottom: 30px;
        &:hover {
            cursor: pointer;
            transition: .3s;
            background: lighten($color-primary, 34%);
        }
        &:hover &-info__icon {
            color: $color-primary;
        }
        &::before {
            position: absolute;
            content: counter(catalog); /* on affiche le compteur */
            background: $color-primary;
            border-radius: 60px;
            color: white;
            padding: 3px 7px 3px 7px;
            border-radius: 50%;
            font-size: 14px;
            transform: translateX(-50%);
        }
        &-info {
            display: flex;
            &__icon {
                margin: 0 0 0 30px;
                width: 40px;
                color: #7E7E7E;
                font-size: 19px;
            }
            &__text {
                font-weight: 500;
            }
        }
    }
}

/* RESTAURANTS */

.restaurants {
    padding: 20px;
    &__article {
        width: 100%;
        background-color: white;
        border-radius: 20px;
        margin-bottom: 25px;
        &:hover {
            box-shadow: 0px 0px 10px 2px rgba(147, 86, 220,0.6);
        }
    }
    &__card {
        &-image {
            position: relative;
            & > img {
                object-fit: cover;
                width: 100%;
                height: 180px;
                border-radius: 20px 20px 0 0;
            }
        }
        &-new {
            position: absolute;
            top: 20px; right: 20px;
            background: #99e2d0;
            color: #20977a;
            padding: 8px 13px;
            font-size: 14px;
            font-weight: 500;
            margin: 0;
        }
    }
    &__block {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 13px 10px;
        &-name {
            margin: 0;
            font-size: 18px;
        }
        &-city {
            margin: 5px 0 3px 0;
            font-weight: 300;
        }
        &-heart {
            margin-right: 10px;
           font-size: 28px;
            cursor: pointer;
            & > i {
                font-weight: 300;
                &:hover {
                    font-weight: 600;
                    background: linear-gradient(210deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
                    background-clip: text;
                    -webkit-background-clip: text;
                    color: transparent;
                    transition: 0.5s;
                }
            }
        }
        
    }
}

/* FOOTER */

.footer {
    margin-top: 10px;
    @include flexbox-center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #353535;
    padding: 20px 0 30px 20px;
    &__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        margin-bottom: 10px
    }
    &__bloc {
        &-lists {
            color: white;
            list-style: none;
            padding-left: 0px;
        }
        &-list {
            margin-bottom: 10px;
            & > a > i {
                width: 30px
            }
        }
    }
}

/* ANIMATIONS */

@keyframes containers {
    0% {
        visibility: visible;
        opacity: 1;
    }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes dots {
    0% {
        visibility: visible;
        opacity: 1;
        transform: scale(0.2);
    }
    40% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(0.2);
        opacity: 0;
        visibility: hidden;
    }
}

.container div:nth-child(1){
    animation-delay: 0s;
}
.container div:nth-child(2){
    animation-delay: 0.3s;
}
.container div:nth-child(3){
    animation-delay: 0.6s;
}
.container div:nth-child(4){
    animation-delay: 0.8s;
}
.container div:nth-child(5){
    animation-delay: 1s;
}

/* MEDIA SCREEN */

@media screen and (min-width: 992px) {
    .catalog__lists {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        width: 100%;
        padding-left: 0px;
    }
    .catalog__list {
        width: 30%;
    }
    .catalog__title {
        text-align: center;
    }
    .catalog__state {
        margin: 20px 30px 0 30px;
    }
    .restaurants__cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
    .restaurants__article {
        width: 49%;
    }
    .footer {
        margin-top: 0;
        padding: 0px;
        display: flex;
        height: 150px;
        align-items: initial;
        justify-content: center;
        &__logo {
            text-align: center;
        }
        &__bloc {
            display: flex;
            justify-content: center;
            align-items: center;
            &-lists {
                display: flex;
            }
            &-list {
                padding: 0 25px;
            }
        }

    }
}

@media screen and (min-width: 720px) and (max-width: 991px) {
    .catalog__lists {
        display: flex;
        justify-content: space-around;
        margin-top: 40px;
        width: 100%;
        padding-left: 0px;
    }
    .catalog__list {
        width: 30%;
        &::before {
            font-size: 10px;
            padding: 3px 6px 3px 6px;
        }
    }
    .catalog__list-info__icon {
        font-size: 13px;
        margin: 0 0 0 20px;
        width: 25px;
    }
    .catalog__list-info__text {
        font-size: 13px;
    }
    .catalog__title {
        text-align: center;
    }
    .catalog__state {
        margin: 20px 30px 0 30px;
    }
    .restaurants__cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }
    .restaurants__article {
        width: 49%;
    }
    .footer {
        margin-top: 0;
        padding: 0px;
        display: flex;
        height: 150px;
        align-items: initial;
        justify-content: center;
        &__logo {
            text-align: center;
        }
        &__bloc {
            display: flex;
            justify-content: center;
            align-items: center;
            &-lists {
                display: flex;
            }
            &-list {
                padding: 0 25px;
                font-size: 15px;
            }
        }

    }

}

@media screen and (min-width: 1900px) {
    .header {
        height: 150px;
        &__logo {
            width: 380px;
        }
    }
    .hero__location {
        height: 80px;
        &-icon {
            font-size: 28px;
        }
        &-city {
            font-size: 28px;
        }
    }
    .hero {
        &__title {
            font-size: 48px;
            margin: 50px 0 25px 0;
        }
        &__text {
            font-size: 35px;
        }
        &__button {
            font-size: 28px;
            padding: 25px 30px;
            margin-top: 50px;
        }
    }
    .catalog {
        &__title {
            font-size: 45px;
        }
        &__list {
            padding: 30px 0;
            &-info__icon {
                margin-left: 50px;
                font-size: 35px;
            }
            &-info__text {
                margin-left: 20px;
                font-size: 35px;
            }
            &::before {
                font-size: 30px;
                padding: 8px 16px;
                top: 25px;
            }
        }
    }
    .restaurants__title {
        font-size: 45px;
    }
    .restaurants__block {
        padding: 25px 30px;
        &-name {
            font-size: 35px;
        }
        &-city {
            font-size: 30px;
        }
        &-heart {
            font-size: 50px;
        }
    }
    .restaurants__card {
        &-image > img {
            height: 350px;
        }
        &-new {
            font-size: 30px;
            padding: 15px 28px;
        }
    }
    .restaurants__article {
        margin-bottom: 50px;
    }
    #restaurants {
        padding: 20px 50px;
    }
    .footer {
        height: 270px;
        &__logo {
            font-size: 40px;
        }
        &__bloc-list {
            font-size: 30px;
            & > a > i {
                width: 50px;
            }
        }
    }
}