@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);    
}

@mixin button-style {
    opacity: 1;
    background: $gradient;
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);  
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f6f6f6;
}

* a {
    text-decoration: none;
    color: white;
}

.header {
    width: 100%;
    background-color: white;
    @include flexbox-center;
    height: 70px;
    position: relative;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
    &__icon {
        position: absolute;
        font-size: 23px;
        left: 20;
        & > a {
            color: black;
        }
    }
    &__logo {
        width: 180px;
    }
}

.img {
    width: 100%;
    height: 220px;
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

#menu {
    width: 100%;
    @include flexbox-center;
}
.menu {
    width: 100%;
    border-radius: 30px 30px 0 0;
    background-color: #F6F6F6;
    margin-top: -30px;
    &__header {
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-title {
            font-family: 'Shrikhand', cursive;
        }
        &-heart {
            padding-right: 20px;
            width: 25px;
            stroke-width: 30;
            stroke: black;
            fill: white;
            cursor: pointer;
        }
    }
    &__bloc {
        padding: 0 20px;
        &__title {
            position: relative;
            font-weight: 300;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 10px;
            &::after {
                content: '';
                width: 50px;
                height: 4px;
                background: #99e2d0;
                position: absolute;
                z-index: 20;
                left: 0px; bottom: -8px ;
            }  
        }
        &__cases {
            margin-bottom: 40px;
        }
    }
}

.case {
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    border-radius: 15px;
    background-color: white ;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    &__content {
        width: 100%;
        margin-left: 10px;
        overflow: hidden;
        white-space: nowrap;
    }
    &__title {
        padding-right: 20px;
        margin: 0;
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &-subtitle {
            margin: 5px 0 0 0;
            font-weight: 300;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-price {
            margin: 5px 0 0 0 ;
            font-size: 15px;
            padding-right: 15px;
            font-weight: 700;
        }
    }
    &__validation {
        background-color: $color-tertiary;
        color: white;
        font-size: 20px;
        border-radius: 0 15px 15px 0;
        padding: 0 18px;
        height: 100%;
        @include flexbox-center;
    }
}

.menu__footer {
    @include flexbox-center;
    &-button {
        @include button-style;
        border: none;
        padding: 15px 40px;
        font-size: 16px;
        &:hover {
            @include button-hover;
        }
    }
}

.footer {
    margin-top: 80px;
    @include flexbox-center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #353535;
    padding: 0 0 30px 20px;
    &__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        margin-bottom: 10px
    }
    &__bloc {
        &-link {
            @include flexbox-center;
            justify-content: initial;
            color: white;
            margin-top: 10px;
            & > i {
                width: 20px;
                font-size: 15px;
            }
            &__title {
                margin: 0 0 0 10px;
                font-weight: 400;
                font-size: 15px;
            }
        }
        & > h3 {
            color: white;
            font-weight: 400;
            margin: 10px 0;
            font-size: 15px;
        }
    }
}