body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f6f6f6;
}

* a {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  position: relative;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}

.header__logo {
  width: 180px;
}

.location {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ececec;
  color: #4b4b4b;
  padding: 15px 0;
}

.location__city {
  font-style: normal;
  margin-left: 15px;
  font-weight: 500;
}

.hero {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding-bottom: 55px;
}

.hero__title {
  margin-top: 35px;
  padding: 0 60px;
  font-size: 25px;
}

.hero__text {
  margin: 0;
  font-weight: 300;
  padding: 0 10px;
}

.hero__button {
  margin-top: 30px;
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 15px 20px;
}

.hero__button:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.catalog {
  background-color: white;
  padding: 30px 30px;
}

.catalog__title {
  margin-left: -10px;
}

.catalog__state {
  margin-top: 20px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.16);
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  position: relative;
  width: 100%;
  padding: 7px 0;
}

.catalog__state:hover .catalog__state-icon {
  color: #9356DC;
}

.catalog__state-number {
  position: absolute;
  background-color: #9356DC;
  color: white;
  padding: 3px 8px 3px 8px;
  border-radius: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.catalog__state-icon {
  color: #7E7E7E;
  margin: 0 0 0 30px;
  font-size: 19px;
  width: 40px;
}

.catalog__state-text {
  font-weight: 500;
  font-size: 16px;
}

.catalog__state:hover {
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  background: #efe6fa;
}

#restaurants {
  padding: 20px;
}

.restaurants__article {
  width: 100%;
  background-color: white;
  border-radius: 20px;
  margin-bottom: 25px;
}

.restaurants__article:hover {
  -webkit-box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
          box-shadow: 0px 0px 10px 2px rgba(147, 86, 220, 0.6);
}

.restaurants__cards > a {
  color: black;
}

.restaurant__card-image {
  position: relative;
}

.restaurant__card-image > img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 180px;
  border-radius: 20px 20px 0 0;
}

.restaurant__card-new {
  position: absolute;
  top: 20px;
  right: 20px;
  background: #99e2d0;
  color: #20977a;
  padding: 8px 13px;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.restaurant__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 10px;
}

.restaurant__block-name {
  margin: 0;
  font-size: 18px;
}

.restaurant__block-city {
  margin: 5px 0 3px 0;
  font-weight: 300;
}

.restaurant__block-heart {
  margin-right: 10px;
  width: 25px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}

.footer {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #353535;
  padding: 0 0 30px 20px;
}

.footer__logo {
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer__bloc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  color: white;
  margin-top: 10px;
}

.footer__bloc-link > i {
  width: 20px;
  font-size: 15px;
}

.footer__bloc-link__title {
  margin: 0 0 0 10px;
  font-weight: 400;
  font-size: 15px;
}

.footer__bloc > h3 {
  color: white;
  font-weight: 400;
  margin: 10px 0;
  font-size: 15px;
}

@media screen and (min-width: 1100px) {
  .catalog__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .catalog__title {
    text-align: center;
  }
  .catalog__state {
    margin: 20px 30px 0 30px;
  }
  .restaurants__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .restaurants__cards > a {
    width: 49%;
  }
  .footer {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bloc-link {
    margin: 0;
    padding-right: 50px;
  }
  .footer__bloc-title {
    padding-right: 50px;
  }
  .menu__bloc__piece {
    width: 400px;
    margin: 0 10px;
  }
}
/*# sourceMappingURL=style_index.css.map */