body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f6f6f6;
}

* a {
  text-decoration: none;
  color: white;
}

.header {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  position: relative;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}

.header__icon {
  position: absolute;
  font-size: 23px;
  left: 20;
}

.header__icon > a {
  color: black;
}

.header__logo {
  width: 180px;
}

.img {
  width: 100%;
  height: 220px;
}

.img__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  margin-top: -30px;
}

.menu__header {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__header-title {
  font-family: 'Shrikhand', cursive;
}

.menu__header-heart {
  padding-right: 20px;
  width: 25px;
  stroke-width: 30;
  stroke: black;
  fill: white;
  cursor: pointer;
}

.menu__bloc {
  padding: 0 20px;
}

.menu__bloc__title {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}

.menu__bloc__title::after {
  content: '';
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}

.menu__bloc__cases {
  margin-bottom: 40px;
}

.case {
  margin-top: 20px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 65px;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.case__content {
  width: 100%;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
}

.case__title {
  padding-right: 20px;
  margin: 0;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.case__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case__info-subtitle {
  margin: 5px 0 0 0;
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.case__info-price {
  margin: 5px 0 0 0;
  font-size: 15px;
  padding-right: 15px;
  font-weight: 700;
}

.case__validation {
  background-color: #99E2D0;
  color: white;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  padding: 0 18px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__footer-button {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border: none;
  padding: 15px 40px;
  font-size: 16px;
}

.menu__footer-button:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

.footer {
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #353535;
  padding: 0 0 30px 20px;
}

.footer__logo {
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer__bloc-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  color: white;
  margin-top: 10px;
}

.footer__bloc-link > i {
  width: 20px;
  font-size: 15px;
}

.footer__bloc-link__title {
  margin: 0 0 0 10px;
  font-weight: 400;
  font-size: 15px;
}

.footer__bloc > h3 {
  color: white;
  font-weight: 400;
  margin: 10px 0;
  font-size: 15px;
}

@media screen and (min-width: 1100px) {
  body {
    background-color: white;
  }
  .menu {
    width: 85%;
    padding: 0 20px;
    background-color: initial;
  }
  .menu__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .menu__bloc-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px;
    border-radius: 0px 0px 30px 30px;
    background-color: #F6F6F6;
  }
  .menu__header {
    border-radius: 30px 30px 0 0;
    background-color: #F6F6F6;
  }
  .menu__footer {
    padding: 40px 0 50px 0;
    background-color: white;
  }
  .footer {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bloc-link {
    margin: 0;
    padding-right: 50px;
  }
  .footer__bloc-title {
    padding-right: 50px;
  }
  .menu__bloc__piece {
    width: 32%;
    margin: 0 10px;
  }
}
/*# sourceMappingURL=style_menu.css.map */