/* MIXIN */
/* VALEURS */
/* ALL */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f6f6f6;
}

* a {
  text-decoration: none;
  color: white;
}

/* HEADER */
.header {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  position: relative;
  -webkit-box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}

.header__icon {
  position: absolute;
  font-size: 23px;
  left: 30px;
}

.header__icon > a {
  color: black;
}

.header__logo {
  width: 180px;
}

/* IMAGE */
.img {
  width: 100%;
  height: 220px;
}

.img__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* MENU */
#menu {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu {
  width: 100%;
  border-radius: 30px 30px 0 0;
  background-color: #F6F6F6;
  margin-top: -30px;
}

.menu__header {
  padding: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__header-title {
  font-family: 'Shrikhand', cursive;
}

.menu__header-heart {
  margin-right: 10px;
  font-size: 28px;
  cursor: pointer;
}

.menu__header-heart > i {
  font-weight: 300;
}

.menu__header-heart > i:hover {
  font-weight: 600;
  background: linear-gradient(210deg, #9356dc 0%, #ff79da 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
}

.menu__bloc {
  padding: 0 20px;
}

.menu__bloc__title {
  position: relative;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 10px;
}

.menu__bloc__title::after {
  content: '';
  width: 50px;
  height: 4px;
  background: #99e2d0;
  position: absolute;
  z-index: 20;
  left: 0px;
  bottom: -8px;
}

.menu__bloc__cases {
  margin-bottom: 40px;
}

.case {
  margin-top: 20px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 65px;
  border-radius: 15px;
  background-color: white;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.1);
  -webkit-animation: opacity 1s both;
          animation: opacity 1s both;
}

.case__link {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.case__content {
  width: 100%;
  margin-left: 10px;
  overflow: hidden;
  white-space: nowrap;
  color: black;
}

.case__title {
  padding-right: 20px;
  width: 100%;
  margin: 0;
  font-size: 17px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.case__info {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.case__info-subtitle {
  margin: 5px 0 0 0;
  font-weight: 300;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.case__info-price {
  margin: 5px 0 0 0;
  font-size: 15px;
  padding-right: 15px;
  padding-left: 10px;
  font-weight: 700;
}

.case__validation {
  display: none;
  position: absolute;
  right: 0;
  background-color: #99E2D0;
  color: white;
  font-size: 20px;
  border-radius: 0 15px 15px 0;
  padding: 0 18px;
  height: 100%;
}

.case__validation > i {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-animation: rotate 0.5s both;
          animation: rotate 0.5s both;
}

.case:hover .case__validation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-animation: slide-left 0.5s ease;
          animation: slide-left 0.5s ease;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.case:hover .case__title {
  width: 76%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.case:hover .case__info-price {
  padding-right: 70px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__footer-button {
  opacity: 1;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff79da), to(#9356dc));
  background: linear-gradient(180deg, #ff79da 0%, #9356dc 100%);
  color: white;
  padding: 0 20px;
  border-radius: 200px;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  border: none;
  padding: 15px 40px;
  font-size: 16px;
}

.menu__footer-button:hover {
  opacity: 0.8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}

/* FOOTER */
.footer {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #353535;
  padding: 20px 0 30px 20px;
}

.footer__logo {
  font-family: 'Shrikhand', cursive;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer__bloc-lists {
  color: white;
  list-style: none;
  padding-left: 0px;
}

.footer__bloc-list {
  margin-bottom: 10px;
}

.footer__bloc-list > a > i {
  width: 30px;
}

/* KEYFRAMES */
@-webkit-keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes slide-left {
  0% {
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    top: 15px;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 0px;
  }
}

@keyframes opacity {
  0% {
    opacity: 0;
    top: 15px;
  }
  80% {
    opacity: 1;
  }
  100% {
    top: 0px;
  }
}

#case-1 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

#case-2 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

#case-3 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

#case-4 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

#case-5 {
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#case-6 {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

#case-7 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#case-8 {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

#case-9 {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}

#case-10 {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

/* MEDIA QUERIES */
@media screen and (min-width: 1100px) {
  body {
    background-color: white;
  }
  .menu {
    width: 85%;
    padding: 0 20px;
    background-color: initial;
  }
  .menu__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .menu__bloc-all {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 20px;
    border-radius: 0px 0px 30px 30px;
    background-color: #F6F6F6;
  }
  .menu__header {
    border-radius: 30px 30px 0 0;
    background-color: #F6F6F6;
  }
  .menu__footer {
    padding: 40px 0 50px 0;
    background-color: white;
  }
  .footer {
    margin-top: 0;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 170px;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bloc-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__bloc-list {
    padding-right: 50px;
  }
  .menu__bloc__piece {
    min-width: 32%;
    margin: 0 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
  .menu__header-title {
    font-size: 30px;
  }
  .menu__header-heart {
    width: 30px;
  }
  .menu__bloc__title {
    font-size: 20px;
  }
  .case__title {
    font-size: 19px;
  }
  .case__info-subtitle {
    font-size: 18px;
  }
  .case__info-price {
    font-size: 18px;
  }
  .case__validation {
    padding: 0 48px;
    font-size: 24px;
  }
  .case:hover .case__info-price {
    padding-right: 130px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .footer {
    margin-top: 70px;
    padding: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 150px;
    -webkit-box-align: initial;
        -ms-flex-align: initial;
            align-items: initial;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__logo {
    text-align: center;
  }
  .footer__bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__bloc-lists {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer__bloc-list {
    padding: 0 25px;
    font-size: 15px;
  }
}

@media screen and (min-width: 1700px) {
  .header {
    height: 150px;
  }
  .header__icon {
    font-size: 50px;
    left: 50px;
  }
  .header__logo {
    width: 380px;
  }
  .img {
    height: 400px;
  }
  .menu {
    width: 95%;
  }
  .menu__header-title {
    font-size: 40px;
  }
  .menu__header-heart {
    font-size: 50px;
  }
  .menu__bloc__title {
    font-size: 31px;
  }
  .menu__bloc__title::after {
    width: 70px;
  }
  .menu__footer-button {
    font-size: 30px;
    padding: 25px 50px;
  }
  .case {
    height: 100px;
  }
  .case__title {
    font-size: 26px;
  }
  .case__info-subtitle {
    font-size: 22px;
  }
  .case__info-price {
    font-size: 22px;
  }
  .case__validation {
    font-size: 30px;
    padding: 0 30px;
  }
  .case:hover .case__info-price {
    padding-right: 110px;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
  }
  .footer {
    margin-top: 30px;
    height: 270px;
  }
  .footer__logo {
    font-size: 40px;
  }
  .footer__bloc-list {
    font-size: 30px;
  }
  .footer__bloc-list > a > i {
    width: 50px;
  }
}
/*# sourceMappingURL=style_menu.css.map */