@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);    
}

@mixin button-style {
    opacity: 1;
    background: $gradient;
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);  
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f6f6f6;
}

* a {
    text-decoration: none;
    color: white;
}

.header {
    width: 100%;
    background-color: white;
    @include flexbox-center;
    height: 70px;
    position: relative;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
    &__logo {
        width: 180px;
    }
}

.location {
    width: 100%;
    @include flexbox-center;
    background: #ececec;
    color: #4b4b4b;
    padding: 15px 0;
    &__city {
        font-style: normal;
        margin-left: 15px;
        font-weight: 500;
    }
}

.hero {
    width: 100%;
    @include flexbox-center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 55px;
    &__title {
        margin-top: 35px;
        padding: 0 60px;
        font-size: 25px;
    }
    &__text {
        margin: 0;
        font-weight: 300;
        padding: 0 10px;
    }
    &__button {
        margin-top: 30px;
        @include button-style;
        padding: 15px 20px;
        &:hover {
            @include button-hover;
        }
    }
}

.catalog {
    background-color: white;
    padding: 30px 20px;
    &__lists {
        padding-left: 10px;
        counter-reset: catalog;
        width: 100%;
    }
    &__list {
        position: relative;
        display: flex;
        list-style-type: none;
        counter-increment: catalog;
        background-color: #f6f6f6;
        padding: 20px 0;
        border-radius: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.16);
        margin-bottom: 30px;
        &:hover {
            cursor: pointer;
            transition: .3s;
            background: lighten($color-primary, 34%);
        }
        &:hover &-info__icon {
            color: $color-primary;
        }
        &::before {
            position: absolute;
            content: counter(catalog); /* on affiche le compteur */
            background: $color-primary;
            border-radius: 60px;
            color: white;
            padding: 3px 7px 3px 7px;
            border-radius: 50%;
            font-size: 14px;
            transform: translateX(-50%);
        }
        &-info {
            display: flex;
            &__icon {
                margin: 0 0 0 30px;
                width: 40px;
                color: #7E7E7E;
                font-size: 19px;
            }
            &__text {
                font-weight: 500;
            }
        }
    }
}

#restaurants {
    padding: 20px;
}

.restaurants__article {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 25px;
    &:hover {
        box-shadow: 0px 0px 10px 2px rgba(147, 86, 220,0.6);
    }
}

.restaurant__card {
    &-image {
        position: relative;
        & > img {
            object-fit: cover;
            width: 100%;
            height: 180px;
            border-radius: 20px 20px 0 0;
        }
    }
    &-new {
        position: absolute;
        top: 20px; right: 20px;
        background: #99e2d0;
        color: #20977a;
        padding: 8px 13px;
        font-size: 14px;
        font-weight: 500;
        margin: 0;
    }
}

.restaurant__block {
    display: flex;
    justify-content: space-between;
    padding: 13px 10px;
    &-name {
        margin: 0;
        font-size: 18px;
    }
    &-city {
        margin: 5px 0 3px 0;
        font-weight: 300;
    }
    &-heart {
        margin-right: 10px;
        width: 25px;
        stroke-width: 30;
        stroke: black;
        fill: white;
        cursor: pointer;
    }
}

.footer {
    margin-top: 10px;
    @include flexbox-center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #353535;
    padding: 0 0 30px 20px;
    &__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        margin-bottom: 10px
    }
    &__bloc {
        &-link {
            @include flexbox-center;
            justify-content: initial;
            color: white;
            margin-top: 10px;
            & > i {
                width: 20px;
                font-size: 15px;
            }
            &__title {
                margin: 0 0 0 10px;
                font-weight: 400;
                font-size: 15px;
            }
        }
        & > h3 {
            color: white;
            font-weight: 400;
            margin: 10px 0;
            font-size: 15px;
        }
    }
}


@media screen and (min-width: 1100px) {
    .catalog__bloc {
        display: flex;
    }
    .catalog__title {
        text-align: center;
    }
    .catalog__state {
        margin: 20px 30px 0 30px;
    }
    .restaurants__cards {
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
        & > a {
            width: 49%;
        }
    }
    .footer {
        margin-top: 0;
        display: flex;
        align-items: initial;
        justify-content: initial;
        &__logo {
            text-align: center;
        }
        &__bloc {
            display: flex;
            justify-content: center;
            align-items: center;
            &-link {
                margin: 0;
                padding-right: 50px;
            }
            &-title {
                padding-right: 50px;
            }
        }

    }
    .menu__bloc__piece {
        width: 400px;
        margin: 0 10px;
    }
}