/* MIXIN */

@mixin flexbox-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin button-hover {
    opacity: 0.8;
    cursor: pointer;
    transition: .3s;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);    
}

@mixin button-style {
    opacity: 1;
    background: $gradient;
    color: white;
    padding: 0 20px;
    border-radius: 200px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);  
}

/* VALEURS */

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$gradient : linear-gradient(180deg, rgba(255,121,218,1) 0%, rgba(147,86,220,1) 100%);

/* ALL */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background: #f6f6f6;
}

* a {
    text-decoration: none;
    color: white;
}

/* HEADER */

.header {
    width: 100%;
    background-color: white;
    @include flexbox-center;
    height: 70px;
    position: relative;
    box-shadow: 0px 5px 6px 0px rgba(0,0,0,0.20);
    &__icon {
        position: absolute;
        font-size: 23px;
        left: 30px;
        & > a {
            color: black;
        }
    }
    &__logo {
        width: 180px;
    }
}

/* IMAGE */

.img {
    width: 100%;
    height: 220px;
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* MENU */

#menu {
    width: 100%;
    @include flexbox-center;
}
.menu {
    width: 100%;
    border-radius: 30px 30px 0 0;
    background-color: #F6F6F6;
    margin-top: -30px;
    &__header {
        padding: 0 20px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &-title {
            font-family: 'Shrikhand', cursive;
        }
        &-heart {
            margin-right: 10px;
            font-size: 28px;
             cursor: pointer;
             & > i {
                 font-weight: 300;
                 &:hover {
                     font-weight: 600;
                     background: linear-gradient(210deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 100%);
                     background-clip: text;
                     -webkit-background-clip: text;
                     -moz-background-clip: text;
                     color: transparent;
                     transition: 0.5s ease-in;
                 }
             }
         }
    }
    &__bloc {
        padding: 0 20px;
        &__title {
            position: relative;
            font-weight: 300;
            font-size: 16px;
            text-transform: uppercase;
            margin-top: 10px;
            &::after {
                content: '';
                width: 50px;
                height: 4px;
                background: #99e2d0;
                position: absolute;
                z-index: 20;
                left: 0px; bottom: -8px ;
            }  
        }
        &__cases {
            margin-bottom: 40px;
        }
    }
}

.case {
    margin-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 65px;
    border-radius: 15px;
    background-color: white ;
    box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.1);
    animation: opacity 1s both;
    &__link {
        width: 100%;
        display: flex;
        height: 100%;
        align-items: center;
    }
    &__content {
        width: 100%;
        margin-left: 10px;
        overflow: hidden;
        white-space: nowrap;
        color: black;
    }
    &__title {
        padding-right: 20px;
        width: 100%;
        margin: 0;
        font-size: 17px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    &__info {
        width: 100%;
        display: flex;
        justify-content: space-between;
        &-subtitle {
            margin: 5px 0 0 0;
            font-weight: 300;
            font-size: 15px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        &-price {
            margin: 5px 0 0 0 ;
            font-size: 15px;
            padding-right: 15px;
            padding-left: 10px;
            font-weight: 700;
        }
    }
    &__validation {
        display: none;
        position: absolute;
        right: 0;
        background-color: $color-tertiary;
        color: white;
        font-size: 20px;
        border-radius: 0 15px 15px 0;
        padding: 0 18px;
        height: 100%;
        & > i {
            transform: rotate(180deg);
            animation: rotate 0.5s both;
        }
    }
    &:hover .case__validation {
        @include flexbox-center;
        animation: slide-left 0.5s ease;
        transform-origin: right;
        
    }
    &:hover .case__title {
        width: 76%;
        transition: 0.2s ease;
    }
    &:hover .case__info-price {
        padding-right: 70px;
        transition: 0.5s ease ;
    }
}

.menu__footer {
    @include flexbox-center;
    &-button {
        @include button-style;
        border: none;
        padding: 15px 40px;
        font-size: 16px;
        &:hover {
            @include button-hover;
        }
    }
}

/* FOOTER */

.footer {
    margin-top: 50px;
    @include flexbox-center;
    flex-direction: column;
    align-items: flex-start;
    background-color: #353535;
    padding: 20px 0 30px 20px;
    &__logo {
        font-family: 'Shrikhand', cursive;
        font-size: 20px;
        margin-bottom: 10px
    }
    &__bloc {
        &-lists {
            color: white;
            list-style: none;
            padding-left: 0px;
        }
        &-list {
            margin-bottom: 10px;
            & > a > i {
                width: 30px
            }
        }
    }
}

/* KEYFRAMES */

@keyframes slide-left {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(50);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}


@keyframes opacity {
    0% {
        opacity: 0;
        top: 15px;
    }
    80% {
        opacity: 1;
    }
    100% {
        top: 0px;
    }
}

#case-1 {
    animation-delay: 0.1s;
}

#case-2 {
    animation-delay: 0.2s;
}

#case-3 {
    animation-delay: 0.3s;
}

#case-4 {
    animation-delay: 0.4s;
}

#case-5 {
    animation-delay: 0.5s;
}

#case-6 {
    animation-delay: 0.6s;
}

#case-7 {
    animation-delay: 0.7s;
}

#case-8 {
    animation-delay: 0.8s;
}

#case-9 {
    animation-delay: 0.9s;
}
#case-10 {
    animation-delay: 1s;
}

/* MEDIA QUERIES */

@media screen and (min-width: 1100px) {
    body {
        background-color: white;
    }
    .menu {
        width: 85%;
        padding: 0 20px;
        background-color: initial;
        &__bloc {
            display: flex;
            flex-direction: column;
            padding: 0;
            &-all {
                display: flex;
                justify-content: center;
                padding: 0 20px;
                border-radius: 0px 0px 30px 30px;
                background-color: #F6F6F6;
            }
        }
        &__header {
            border-radius: 30px 30px 0 0;
            background-color: #F6F6F6;
        }
        &__footer {
            padding: 40px 0 50px 0;
            background-color: white;
        }
    }
    .footer {
        margin-top: 0;
        padding: 0px;
        display: flex;
        height: 170px;
        align-items: initial;
        justify-content: center;
        &__logo {
            text-align: center;
        }
        &__bloc {
            display: flex;
            justify-content: center;
            align-items: center;
            &-lists {
                display: flex;
            }
            &-list {
                padding-right: 50px;
            }
        }

    }
    .menu__bloc__piece {
        min-width: 32%;
        margin: 0 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1099px) {
    .menu__header-title {
        font-size: 30px;
    }
    .menu__header-heart {
        width: 30px;
    }
    .menu__bloc__title {
        font-size: 20px;
    }
    .case__title {
        font-size: 19px;
    }
    .case__info-subtitle {
        font-size: 18px;
    }
    .case__info-price {
        font-size: 18px;
    }
    .case__validation{
        padding: 0 48px;
        font-size: 24px;
    }
    .case:hover .case__info-price {
        padding-right: 130px;
        transition: 0.5s ease ;
    }
    .footer {
        margin-top: 70px;
        padding: 0px;
        display: flex;
        height: 150px;
        align-items: initial;
        justify-content: center;
        &__logo {
            text-align: center;
        }
        &__bloc {
            display: flex;
            justify-content: center;
            align-items: center;
            &-lists {
                display: flex;
            }
            &-list {
                padding: 0 25px;
                font-size: 15px;
            }
        }

    }
}

@media screen and (min-width: 1700px) {
    .header {
        height: 150px;
        &__icon {
            font-size: 50px;
            left: 50px;
        }
        &__logo {
            width: 380px;
        }
    }
    .img {
        height: 400px;
    }
    .menu {
        width: 95%;
        &__header {
            &-title {
                font-size: 40px;
            }
            &-heart {
                font-size: 50px;
            }
        }
        &__bloc {
            &__title {
                font-size: 31px;
                &::after {
                    width: 70px;
                }
            }
        }

        &__footer {
            &-button {
                font-size: 30px;
                padding: 25px 50px;
            }
        }
    }
    .case {
        height: 100px;
        &__title {
            font-size: 26px;
        }
        &__info {
            &-subtitle {
                font-size: 22px;
            }
            &-price {
                font-size: 22px;
            }
        }
        &__validation {
            font-size: 30px;
            padding: 0 30px;
        }
        &:hover .case__info-price {
            padding-right: 110px;
            transition: 0.5s ease ;
        }
    }
    .footer {
        margin-top: 30px;
        height: 270px;
        &__logo {
            font-size: 40px;
        }
        &__bloc-list {
            font-size: 30px;
            & > a > i {
                width: 50px;
            }
        }
    }
}